<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binar.express.js</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/huge.css">
</head>

<body>
    <div class="container">
        <main class="main">
            <h1 class="title">
                Welcome to <a href="https://lelang-euyy.herokuapp.com/">Lelang-euyy REST API</a>
            </h1>

            <p class="description">
                Get started read our documentation<br>
            </p>
            <a style="border:1px solid #753671;padding:5px;" href="/docs">Let's Goo</a>
        </main>
    </div>
</body>

</html>